


  <div class="Services_div" style="text-align: center; width: 80%; margin-left: 10%;">
    <header>
      <h1>Services List</h1>
    </header>
    
    <% @services.each do |service| %>
    	<%=service.name%>
   	<%end%>
    
    
    
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>
    
  </div>
