
<div class="left_content_new"> 
	Services list 
</div>
<div class="right_content_new">
	<h1>Register</h1>
	
	<%= form_for @user do |f| %>
	<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
	<%= f.submit "Register" %>
	<% end %>

</div>