
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.nss_header{
	min-height: 80px;
	width: 100%;
	text-align:center;
	color: #FFFFFF;
		
	background-color: rgba(157, 197, 101, 1)
}
.menu_part{
	width: 100%;
	height: 40px;
	/*background-color: #BBBBBB;*/
	margin: 0 auto;
}
.menu_header{
	width:16%;
	text-align: center;
	float: left;
	line-height: 40px;
	font-size: 1.8em;
	font-family: serif;
	color: rgb(255,255,255);
	
}
.menu_header:hover { 
    color: yellow;
}

.home_image_area{
	height:400px;
	width:100%;
	background-image: image-url("tiger.jpg")
	background-position:center;background-repeat:no-repeat;background-size:cover;background-image:url(http://static.wixstatic.com/media/1f3c0f_75aa8e80fcb447688f3e2a0ac3e444ae.jpg_srz_p_0_0_75_22_0.50_1.20_0.00_jpg_srz);
}

.left_content_new{
	width:30%;
	float: left;
}
.right_content_new{
	width:60%;
	float: left;
}
.services_list{
	width: 33%;
	float: left;
	min-height: 300px;
	background-color: #BBBBBB;
	margin-left: 2px;
	
}

