<!DOCTYPE html>
<html>
<head>
  <title>NriServiceSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nss_header">
	  	<b>NRI Service System</b>
	  	<div class="menu_part">
	  		<div class="menu_header"> Home</div>
	  		<div class="menu_header"> What we are</div>
	  		<div class="menu_header"> Services</div>
	  		<div class="menu_header"> Contact</div>
	  	</div>
  </div>
  <div class="home_image_area">
  	Image and logo
  </div>>
  



<%= yield %>

</body>
</html>
