<!DOCTYPE html>
<html>
<head>
  <title>NriServiceSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nss_header">
	  	<b>NRI Service System</b>
	  	<div class="menu_part">
	  		<div class="menu_header"><h4>NRI SS LOGO</h4></div>
	  		<div class="menu_header"> 
	  			<a href="/fronts"> Home </a></div>
	  		<div class="menu_header"> What we are</div>
	  		<div class="menu_header">
	  			<a href="/services"> Services </a></div>
	  		<div class="menu_header"> Contact</div>
	  		<div class="menu_header"> 
	  			<a href="/admin/login"> login </a></div>
	  	</div>
  </div>
  


<%= yield %>

</body>
</html>
